/node_modules
/public/hot
/public/storage
/public/build
/public/node_modules
/public/package.json.lock
/storage/*.key
/storage/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/resources/views/client.blade.php
